<form role="form">
    <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" id="title" ng-model="title">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="5" id="description" ng-model="description"></textarea>
    </div>
    <div class="form-group">
        <label for="category">Category:</label>

        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="category" data-toggle="dropdown">
                Select category
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">House for sale</a></li>
                <li><a href="#">Flat for sale</a></li>
                <li><a href="#">House for rent</a></li>
                <li><a href="#">Flat for rent</a></li>
                <li><a href="#">Room for rent</a></li>
                <li><a href="#">Garage/parking place for sale</a></li>
                <li><a href="#">Garage/parking place for rent</a></a></li>
            </ul>
        </div>
    </div>
    <div class="form-group">
        <label for="contact">Contact phone number:</label>
        <input type="number" class="form-control" id="contact" ng-model="contact">
    </div>
</form>