<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Welcome</title>
</head>
<body>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>My Advertisements</h2>

                <p>Below you can find all your advertisements</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Content</th>
                        <th>Date</th>
                        <th>Expires</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="advertisement in my_board.advertisements | filter:my_board.activeUser">
                        <td width="20%">{{advertisement.$id}}</td>
                        <td width="50%">{{advertisement.content}}</td>
                        <td>{{my_board.convertDate(advertisement.date)}}</td>
                        <td>{{my_board.expirationDate(advertisement.date)}}</td>
                        <td align="center">
                            <a ><span class="glyphicon glyphicon-remove" title="Remove" ng-click="my_board.remove(advertisement.$id)"/></a>
                            <a ><span class="glyphicon glyphicon-time" title="Extend expiration date" ng-click="my_board.addTime(advertisement.$id)"/></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>